.carousel-inner {
    max-height: 400px; 
  }
  
  .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    color: #fff; 
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333; 
    border: 1px solid #fff; 
  }
  
  .carousel-control-prev, .carousel-control-next {
    width: 5%;
  }